@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.top-section {
  text-align: center;
  padding: 20px;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.middle-section div {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.click-count {
  font-size: 16pt;
}
#remaining-count {
  font-size: 5em; 
}

.ui-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 280px; /* Adjusted width to fit two buttons per row */
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the child elements (title and table) */
  width: 100%; /* Adjust width as needed */
  font-size: 22px;
  padding: 10px;
}

#leaderboard-table {
  width: auto; /* Adjust this so the table size matches the leaderboard title */
  max-width: 60%; /* Prevent the table from becoming too wide */
  margin-top: 20px; /* Space between the title and the table */
  border-collapse: collapse;
}

#leaderboard-table th, #leaderboard-table td {
  text-align: center; /* Center text in table cells */
  padding: 8px;
  border: 1px solid #ddd;
}



.leaderboard-content {
  display: table-cell;
  font-size: 16px; /* Slightly reduced font size */
  white-space: nowrap;  /* Prevents text from wrapping */
  overflow: hidden;     /* Hides text that exceeds the container width */
  text-overflow: ellipsis; /* Shows an ellipsis for overflowed text */
  padding: 5px; /* Add padding for spacing */
}


.comment-container {
  text-align: center;
  margin-top: auto;
}

.btn {
  width: 100px;
  height: 150px;
  margin: 10px;
  border: none;
  border-radius: 0.287rem;
  cursor: pointer;
}

.start-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-btn {
  display: none;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:focus {
  outline:0;
}

.btn:active {
  opacity: 0.6;
}

.btn:disabled {
  opacity: 1.0;
  cursor: auto;
}

.red.btn {
  background-color: #ff0000;
}

.yellow.btn {
  background-color: #fbbd08;
}

.blue.btn {
  background-color: #0000ff;
}

.green.btn {
  background-color: #21ee45;
}

.hidden {
  display: none;
}

#error-message {
  color: red;
  font-size: 30px;
}

#hint {
  transition: opacity 0.5s ease-out;
}

#success-text-container {
  font-size: 28px;
}

.btn, .start-btn, .reset-btn {
  font-size: 20px; 
  padding: 15px 30px;
}

#playerName {
  font-size: 20px; 
  padding: 10px; 
  width: 300px; 
}
