@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.top-section {
  text-align: center;
  padding: 20px;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.click-count {
  font-size: 16pt;
}

.ui-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 280px; /* Adjusted width to fit two buttons per row */
  margin-left: 12rem;
}

.leaderboard {
  font-size: 22px; /* Adjusted for better visibility */
  display: table;
  text-align: center;
  width: 20%; /* Ensure enough width */
  min-width: 200px; /* Minimum width to handle longer names */
}

.leaderboard-content {
  display: table-cell;
  font-size: 16px; /* Slightly reduced font size */
  white-space: nowrap;  /* Prevents text from wrapping */
  overflow: hidden;     /* Hides text that exceeds the container width */
  text-overflow: ellipsis; /* Shows an ellipsis for overflowed text */
  padding: 5px; /* Add padding for spacing */
}


.comment-container {
  text-align: center;
  margin-top: auto;
}

.btn {
  width: 100px;
  height: 150px;
  margin: 10px;
  border: none;
  border-radius: 0.287rem;
  cursor: pointer;
}

.start-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-btn {
  display: none;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:focus {
  outline:0;
}

.red.btn {
  background-color: #ff0000;
}
.red:active {
  background-color: #d01919;
}

.yellow.btn {
  background-color: #fbbd08;
}
.yellow:active {
  background-color: #eaae00;
}

.blue.btn {
  background-color: #0000ff;
}
.blue:active {
  background-color: #1678c2;
}

.green.btn {
  background-color: #21ee45;
}
.green:active {
  background-color: #16ab39;
}

.hidden {
  display: none;
}

#error-message {
  color: red;
  font-size: 30px;
}

#success-text-container {
  font-size: 28px;
}

.btn, .start-btn, .reset-btn {
  font-size: 20px; 
  padding: 15px 30px;
}

#playerName {
  font-size: 20px; 
  padding: 10px; 
  width: 300px; 
}