@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.click-count {
  font-size: 16pt;
  margin: 0 1em;
  text-align: left;
}

.timer {
  font-size: 16pt;
  text-align: right;
  flex-grow: 1; /* Gives the timer more room if needed */
}

.leaderboard, #leaderboard-content {
  font-size: 16pt;
  margin: 0 1em;
  text-align: center;
  flex-grow: 1;
}

.btn {
  width: 100px;
  margin: 20px;
  height: 150px;
  padding: 0 .25em 0 0;
  border: none;
  border-radius: 0.287rem;
  cursor: pointer;
}

.start-btn {
  background-color: #4CAF50; 
  color: white; 
  padding: 15px 32px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.btn:focus {
  outline:0;
}

.red.btn {
  background-color: #ff0000;
}
.red:active {
  background-color: #d01919;
}

.yellow.btn {
  background-color: #fbbd08;
}
.yellow:active {
  background-color: #eaae00;
}

.blue.btn {
  background-color: #0000ff;
}
.blue:active {
  background-color: #1678c2;
}

.green.btn {
  background-color: #21ee45;
}
.green:active {
  background-color: #16ab39;
}

.hidden {
  display: none;
}
